@use '../variables/colors';

$border-radius: 1rem;

@mixin style-modal(){

    height: 32rem;
    width: 25rem;

    background-color: colors.$card-bg-color;

    margin-left: 39.5%;
    margin-top: -10rem;

    border-radius: $border-radius;
}

@mixin style-top-modal(){

    width: 100%;
    height: 5rem;

    background-color: colors.$main-font-color;

    border-radius: $border-radius;

}