@use '../variables/colors';

$border-radius: .5rem;

@mixin style-modal(){

    height: 32rem;
    width: 35rem;

    background-color: colors.$modal-bg-color;

    margin-left: 39.5%;
    margin-top: -10rem;

    border-radius: $border-radius;
}

@mixin style-top-modal(){

    width: 100%;
    height: 5rem;

    background-color: transparent;

    border-radius: $border-radius;
    border-bottom: 2px  solid colors.$top-modal-color;

}