<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./sass/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task-s</title>
</head>

<body>

    <%- include('../partials/nav'); %>

        <div class="wrapper tasks-style-card">

            <!-- <div class="card-task">

            <div class="top-card">
                
            </div>

            <div class="informations">

                <h3>Titulo</h3>
                <p>Aqui temos a descrição da nossa tarefa que deve ser concluida!</p>

                <p>Dificuldade: 10</p>

            </div>

            <button id="doneButton" class=""> Concluído </button>

        </div> -->

        </div>

        <%- include('../partials/modal'); %>

        <script src="./js/script.js"></script>
        <script src="./js/modalAdd.js"></script>
        <script src="./js/taskFilter.js"></script>
</body>

</html>