<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./sass/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>

    <div class="div-main wrapper">

        <div class="login-page-informations">

            <h1> Create, manage <br> and complete your tasks <br> with <span>Task-S!</span> </h1>

            <p>
                <span>Task-S!</span> is an easy and intuitive tool <br> so you can have control over all your duties
            </p>

            <button id="getStarted"> Get Started </button>

        </div>

        <div class="login" id="divLogin">

            <div class="top-form-login"></div>

            <h3> Sign up </h3>

            <form action="/api/auth" method="post">

                <label for="email"> E-mail </label>
                <input type="text" name="email" id="userEmail" placeholder="E-mail">

                <label for="password"> Password </label>
                <input type="password" name="password" id="userPassword" placeholder="Password">

                <button id="buttonLogin" type="submit"> Create User </button>
            </form>

        </div>

    </div>

    <script src="./js/login.js"></script>
    
</body>

</html>