<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./sass/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>

    <div class="div-main wrapper">

        <%- include('../partials/loginInformations'); %>

        <div class="login" id="divLogin">

            <div class="top-form-login"></div>

            <h3> Login </h3>

            <form action="" method="post">

                <label for="email"> E-mail </label>
                <input type="text" name="email" id="userEmail" placeholder="E-mail">

                <label for="password"> Password </label>
                <input type="password" name="password" id="userPassword" placeholder="Password">

                <button id="buttonLogin" type="submit"> Login </button>
            </form>

            <!-- <div class="redirect-login">
                <small>Already a user?</small> <a href=""> Login </a>
            </div> -->

        </div>

    </div>

    <script src="./js/login.js"></script>
    
</body>

</html>