@use '../variables/fonts';
@use '../variables/colors';

$border-radius: 1rem;

.card-task{
    height: 20rem;
    width: 15rem;

    border-radius: $border-radius;

    background: colors.$card-bg-color;

    font-family: fonts.$main-font;

    transition: .3s;

}

.card-task:hover{
    transform: translateY(-1rem);
}

.tasks-style-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-card{
    width: 100%;
    height: 5rem;

    background-color: colors.$main-font-color;

    border-radius: $border-radius;
}

.informations{
    color: colors.$card-text-color;
}

.informations h3, h4, p{
    margin: 1rem;

    line-height: 1.5rem;
}
