@use '../variables/fonts';
@use '../variables/colors';

$border-radius: 1rem;

.card-task{
    height: 20rem;
    width: 15rem;

    border-radius: $border-radius;

    background: colors.$card-bg-color;

    font-family: fonts.$main-font;

    transition: .3s;

    animation: card-animation .5s;

}

.card-task:hover{
    transform: translateY(-1rem);
}

@keyframes card-animation{
    0%{
        opacity: 0;
        transform: translate3d(0, 110px, 0);
    }
    100%{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
.tasks-style-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-card{
    width: 100%;
    height: 5rem;

    background-color: colors.$main-font-color;

    border-radius: $border-radius;
}

.informations{
    color: colors.$card-text-color;
}

.informations h3, h4, p{
    margin: 1rem;

    line-height: 1.5rem;
}

.informations p:nth-child(3){
    
    width: 50%;

    background-color: colors.$color-difficulty-10;
    color: colors.$card-bg-color;

    border-radius: 1rem;
    
    padding-inline: 0.5rem;

}

.card-task button{
    background-color: colors.$main-font-color;
    font-family: fonts.$main-font;

    width: 5rem;
    height: 2rem;

    margin-left: 9rem;
    margin-top: 1rem;

    border: none;

    border-radius: $border-radius;
    color: white;

    cursor: pointer;

    transition: .3s;
}

.card-task button:hover{
    background-color: #36a873;
}

.top-card.task-completed{
    height: 100%;
    transition: .5s;
}

.informations.task-completed,
.card-task button.task-completed{
    display: none;
}