@use '../variables/fonts';
@use '../variables/colors';

$border-radius-variable: .8rem;

.div-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 5%;
}

.login-page-informations{
    animation: informations-login-animation .4s;
}

.login-page-informations h1,
.login-page-informations p{
    color: colors.$card-bg-color;
    font-family: fonts.$main-font;
}

.login-page-informations h1 span{
    color: colors.$main-font-color
}

.login-page-informations h1{
    font-size: 2rem;

    line-height: 3.5rem;
    margin-bottom: 2rem;
}

.login-page-informations p{
    margin: 0rem;
    line-height: 1.7rem;

}

/* Form login */

.login,
.sign-up{
    display: block;

    height: 30rem;
    width: 23rem;

    background-color: colors.$card-bg-color;

    border-radius: $border-radius-variable;

    animation: form-login-animation .4s;

    text-align: left;
}

@keyframes form-login-animation {

    0% {
        opacity: 0;
        transform: translateX(200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes informations-login-animation {

    0% {
        opacity: 0;
        transform: translateX(-200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

.top-form-login{
    width: 100%;
    height: 5rem;

    background-color: colors.$main-font-color;

    border-radius: $border-radius-variable;
}

.login h3,
.sign-up h3{
    font-family: fonts.$main-font;

    margin-top: 1rem;
    margin-left: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    
    align-items: center;

    margin-top: 2.5rem;

    gap: 1rem;
}

form input,
.login button,
.sign-up button{
    border: none;

    width: 80%;
    height: 2.3rem;

    border-radius: $border-radius-variable;

    padding-inline: 1rem;
}

form input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

form label{
    font-family: fonts.$main-font;

    margin-left: -14rem;

    color: grey;
}

form label:nth-child(1){
    margin-left: -11.5rem;
}

::placeholder{
    color: colors.$color-placeholder
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.redirect-login{
    margin-top: 2rem;
    margin-left: 7rem;
}

.redirect-login small,
.redirect-login a{
    font-family: fonts.$main-font;
}

.redirect-login small{
    color: colors.$color-small
}

.redirect-login a{
    color: colors.$main-font-color;

}

button,
#getStarted{
    background-color: colors.$main-font-color;
    color: white;

    cursor: pointer;

    transition: .3s;
}

.login button:hover,
.sign-up button:hover,
#getStarted:hover{
    background-color: colors.$main-font-color-hover;
}

#getStarted{
    border-radius: .5rem;
    border: none;

    width: 45%;
    height: 2rem;

    margin-top: 2rem;
}