@use '../variables/fonts';
@use '../variables/colors';

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;

    font-family: fonts.$main-font;

    padding: 2rem;

    text-align: center;
}

nav h2{
    font-size: 2.5rem;
}

.buttons{

    display: flex;
    
    gap: 4rem;

}

.buttons button{

    height: 2rem;
    width: 5rem;

    border-radius: 1rem;
    border: none;

    background-color: colors.$main-font-color;
    color: colors.$main-bg-color;

    font-family: fonts.$main-font;

    cursor: pointer;

    transition: .3s;

    font-weight: bold;
}

button:hover{
    background-color: #29ac6f;
}

/* Select filter */

.container input{
    height: 2rem;
    width: 15rem;

    background-color: #181b1f;
    color: rgb(197, 197, 197);

    border: none;
    border-radius: 1rem;

    outline: none;

    padding: 0rem 1rem;
    box-sizing: border-box;

    font-family: fonts.$main-font;
}

.dropDown{
    width: 15rem;
    height: 6.7rem;

    display: none;

    background-color: #181b1f;

    border-radius: 1rem;

    margin-top: .8rem;

    position: absolute;
    z-index: 100;

    color: white;

    transform: translate(0px, -10px);
    transition: .3s;
}

.listDropDown{
    text-align: left;

    padding: 5px 5px;
    box-sizing: border-box;
}

.listDropDown .item{
    height: 2rem;

    transition: .3s;
    border-radius: 1rem;

    padding: 5.5px 7px;
    box-sizing: border-box;

    cursor: pointer;
}

.item:hover{
    background-color: #27292c;
    padding-left: 12px;
}