$main-bg-color: #0d1117;
$main-font-color: #29ac6f;

$main-font-color-hover: #287a54;

$card-bg-color: #e9e5e5;

$top-modal-color: #135335;
$modal-bg-color: #15151d;

$card-text-color: #414141;
$color-small: gray;
$color-placeholder: gray;

$color-difficulty-10: #ff00007c;
$color-middle-level: #ffae005b;
$color-low-level: #4992047c;

$color-modal-backgorund-wrapper: rgba(0, 0, 0, .5);

$background-color-input: #181b1f;
$color-text-input: rgb(197, 197, 197);

$dropdown-hover: #27292c;