<div class="login-page-informations">

    <h1> Create, manage <br> and complete your tasks <br> with <span>Task-S!</span> </h1>

    <p>
        <span>Task-S!</span> is an easy and intuitive tool <br> so you can have control over all your duties
    </p>

    <button id="getStarted"> Get Started </button>

</div>