<div id="modalWrapper" class="">

    <div class="modal-add" id="modalAdd">

        <div class="top-modal">
            <h3> Task-s! </h3>

            <div id="closeModal">

                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M30 10L10 30M10 10L30 30" stroke="#FFFAF1" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>

            </div>

        </div>

        <form action="/api/create" method="post">

            <input type="text" name="title" id="" placeholder="Title">
            <textarea name="description" cols="30" rows="10" placeholder="Description"></textarea>
            <input type="number" name="difficulty" id="" placeholder="Difficulty Level">

            <button type="submit"> Create Task </button>
        </form>

        <button id="cancelButton"> Cancel </button>

    </div>

</div>