<nav class="wrapper">
    <h2>Task-S !</h2>

    <div class="buttons">

        <button id="buttonAdd"> + New </button>

        <div class="container">
            <input type="text" name="categoria" placeholder="Filter tasks">

            <div class="dropDown">
                <div class="listDropDown">

                    <div class="item" id="allTasks"> All tasks</div>
                    <div class="item" id="completedTasks"> Completed </div>
                    <div class="item" id="uncompletedTasks"> Uncompleted </div>

                </div>
            </div>
    
            <button id="buttonFilter"> Buscar </button>
        </div>

    </div>
</nav>