<nav class="wrapper">
    <h2>Task-S !</h2>

    <div class="buttons">

        <button id="buttonAdd"> + New </button>

        <select id="selectFilter">

            <option selected disabled> Filter </option>
            <option id="allTasks" value="all">Todas</option>
            <option id="taskConcluded" value="concluded">Concluídas</option>
            <option id="unconcludedTask" value="unconcluded">Não Concluídas</option>

        </select>

        <button> Edit </button>

    </div>
</nav>