<nav class="wrapper">
    <h2>Task-S !</h2>

    <div class="buttons">

        <!-- <form action=""> -->

            <button id="buttonAdd"> + New </button>

            <div class="container">
                <input
                    id="inputValue"
                    type="text"
                    name="categoria"
                    placeholder="Filter tasks"
                    onfocus="dropdownFunction(0)"
                    onblur="dropdownFunction(1)"
                >

                <div class="dropDown">
                    <div class="listDropDown">

                        <div class="item" onmousedown="filteringTask(1)" id="item-1"> All tasks</div>
                        <div class="item" onmousedown="filteringTask(2)" id="item-2"> Completed </div>
                        <div class="item" onmousedown="filteringTask(3)" id="item-3"> Uncompleted </div>

                    </div>
                </div>

                <button id="buttonFilter"> Buscar </button>
            </div>

        <!-- </form> -->

    </div>
</nav>