@use './variables/colors';

@forward './components/nav';
@forward './components/card';

@forward './components/modal-add';


*{
    margin: 0;
    padding: 0;
}

body{
    background: colors.$main-bg-color;
    color: colors.$main-font-color;
}

.wrapper{
    width: min(70rem, 100%);

    margin-inline: auto;
    padding-inline: 2.4rem;
}