<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./sass/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task-s</title>
</head>
<body>
    
    <nav>
        <h2>Task-S !</h2>
    </nav>

    <div class="div-teste">
        


    </div>

    <script src="./js/script.js"></script>
</body>
</html>